body {
    font-family: sans-serif;
    overflow:hidden;
}

#player {
    height: 100%;
    width: 100%;
}

#remote {
    height:100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

#local {
    max-height: 20%;
    max-width: 20%;
    position: absolute;
    bottom: 20px;
    left:20px;
}

#share_url {
    position: absolute;
}
